[submodule "database"]
	path = database
	url = https://github.com/cryo-data/database
	datalad-id = 9cf0f155-b5c7-4d51-b0ee-708e65f50b3b
[submodule "author"]
	path = author
	url = git@github.com:cryo-data/author
	datalad-id = 8150df2c-24cb-4cfd-9609-1dcd3cbcf7a6
	datalad-url = git@github.com:cryo-data/author
[submodule "data_provider"]
	path = data_provider
	url = git@github.com:cryo-data/data_provider
	datalad-id = 8cb3661d-431f-494c-b8a2-30f51bbbaed5
	datalad-url = git@github.com:cryo-data/data_provider
[submodule "organization"]
	path = organization
	url = git@github.com:cryo-data/organization
	datalad-id = 71aabd7c-b24b-422f-b395-e8f5c2c8c4d4
	datalad-url = git@github.com:cryo-data/organization
[submodule "project"]
	path = project
	url = git@github.com:cryo-data/project
	datalad-id = 13ccac63-0e75-4b36-a7c0-e2a7ba62fc42
	datalad-url = git@github.com:cryo-data/project
[submodule "other"]
	path = other
	url = git@github.com:cryo-data/other
	datalad-id = ce70a17a-eec0-4a11-b6cc-a52f88d331df
	datalad-url = git@github.com:cryo-data/other
