[submodule "database"]
	path = database
	url = https://github.com/cryo-data/database
	datalad-id = 9cf0f155-b5c7-4d51-b0ee-708e65f50b3b
[submodule "author"]
	path = author
	url = git@github.com:cryo-data/author
	datalad-id = 8150df2c-24cb-4cfd-9609-1dcd3cbcf7a6
	datalad-url = git@github.com:cryo-data/author
